/* Global */ 
@import url('https://fonts.googleapis.com/css?family=Handlee');
@import url('https://fonts.googleapis.com/css?family=Assistant:200');

body {
    background: wheat; 
    font-family: 'Handlee', cursive;
    margin: 0; 
}

/* Typography */ 
h1, h2, h3, h4, h5, h6 {
    font-family: 'Assistant', sans-serif;
} 

h1 {
    font-size: 4em;
}

h2 {
    font: 2em; 
}

/* Potitioning */ 
header {
    background: rgba(120, 149, 149, 0.74);
    position: fixed;
    width: 100%;
}