/* Global */ 
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Open+Sans|Open+Sans+Condensed:300');

body {
    background: wheat; 
    font-family: 'Handlee', cursive;
    margin: 0; 
}

/* Typography */ 
h1, h2, h3, h4, h5, h6 {
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Josefin Slab', serif;
} 

h1 {
    font-size: 4em;
}

h2 {
    font: 2em; 
}

/* Positioning */ 
header {
    background: rgba(120, 149, 149, 0.74);
    position: fixed;
    width: 100%;
}

/* Layout */ 
.page-wrapper {
    background: #69744f;
    margin: 0 auto;
    width: 95%;
}

#zen-intro {
    background: #bba4c7;
}

#zen-supporting {
    background: #445566;
}

.sidebar {
    background: #afafaf;
}

/* Media Queries */  

/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}
















